# This file is a sample of `env.mk` file.
# Need `cp env.mk.sample env.mk` and change to correct path.
DASH-EL = /path/to/elpa/dash.el
S-EL = /path/to/elpa/s.el
AG-EL = /path/to/elpa/ag.el
PACKAGE-LINT-EL = /path/to/elpa/package-lint.el
